{% extends 'base.html' %}

{% block title %} Edit User {% endblock %}

{% block content %} 

<div class="container mt-3">
<h3>Edit User Details:</h3>
<form class="form-control" action="/users/{{user.id}}/edit" method="POST">
    <label for="first_name">First Name:</label>
    <input class="form-control" type="text" name="first_name" value="{{user.first_name}}" required>
    <label for="last_name">Last Name:</label>
    <input class="form-control" type="text" name="last_name" value="{{user.last_name}}" required>
    <label for="image_url">Profile Picture:</label>
    <input class="form-control" type="url" name="image_url" value="{{user.image_url}}">
    <button class="btn btn-success mt-3">Save</button> <a href="/users" class="btn btn-primary mt-3">Cancel</a>
</form>

</div>
{% endblock %}