{% extends 'base.html'%}

{% block title %} {{post.id}}: {{post.title}} {% endblock %}

{% block content %}
<div class="container mt-3">
  <h3>Edit Post:</h3>
  <form action="/posts/{{post.id}}/edit" method="POST" class="form-control">
    <label for="title">Title</label><input class="form-control" type="text" name="title" value="{{post.title}}" required>
    <label for="post_content">Post content</label><input class="form-control" type="textarea" name="content" value="{{post.content}}" required>

    {% for tag in tags %}
    <div>
      {% if tag.id in current_tags %}
        <input class="form-check-label" type="checkbox" value="{{tag.id}}" id="{{tag.id}}" name="tags" checked>
        <label for="{{tag.id}}">
        {{tag.tag_name}}
        </label>
      {% else %}
        <input class="form-check-label" type="checkbox" value="{{tag.id}}" id="{{tag.id}}" name="tags">
        <label for="{{tag.id}}">
        {{tag.tag_name}}
        </label>
      {% endif %}
    </div>
    {% endfor %}
  
     <button class="btn btn-success mt-3 mb-3">Save</button> 
     <a href="/posts/{{post.id}}" class="btn btn-primary mt-3 mb-3">Cancel</a>
  </form>
</div>
{% endblock %}