{% extends 'base.html'%}

{% block title %} {{user.id}}: {{user.first_name}} {{user.last_name}} {% endblock %}

{% block content %}
<div class="container mt-3">
  <h3>New Post:</h3>
  <form action="/users/{{user.id}}/posts/new" method="POST" class="form-control">
    <label for="title">Title</label><input class="form-control" type="text" name="title" placeholder="Title" required>
    <label for="post_content">Post content</label><input class="form-control" type="textarea" name="content" placeholder="Your post here" required>

    {% for tag in tags %}
    <div>
      <input class="form-check-input" type="checkbox" value="{{tag.id}}" id="{{tag.id}}" name="tags">
      <label class="form-check-label" for="{{tag.id}}">
        {{tag.tag_name}}
      </label>
    </div>
    {% endfor %}

    <button class="btn btn-success mt-3">Submit</button>
    <a href="/users" class="btn btn-primary mt-3">Cancel</a>
  </form>
</div>
{% endblock %}